header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
header h1{
    color:rgb(0, 0, 0);  
    margin-left: 2vw;  
}
header h1 span{
    color:rgb(3, 255, 175);    
}
header ul{
    display: flex;
}

header nav .fa-bars{
    display: none;
    color: rgb(3, 255, 175);
}

header .nav-primaria{
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 10vw;
}
header .nav-primaria a{
    font-size: 1.5rem;
    margin-left: 2vw;
}