header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
header h1{
    color:white;  
    margin-left: 2vw;  
}
header h1 span{
    color:red;    
}
header ul{
    display: flex;
}

header nav .fa-bars{
    display: none;
}

header .nav-primaria{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
header .nav-primaria a{
    font-size: 1.5rem;
    margin-left: 2vw;
}

@media(max-width:997px){
    header .nav-primaria{
        display: none;
        right: 0vw;
    }

    header{
        justify-content: space-between;
        padding: 30px 70px;
    }
    header h1{
        margin-left: -5vw;
    }
    header nav .fa-bars{
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 3.5rem;
        margin-right: -10vw;
    }
    header .nav-primaria.ativado{
        background-color: rgb(107, 107, 107);
        position: absolute;
        display: grid;
        top: 80px;
        z-index: 5;
        padding: 1vh;
        animation: sobesecao .8s ease-in-out forwards;
    }
}

@keyframes sobesecao{
    from{
        transition: .5s;
        transform: translate3d(50px,0,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}